# Eclipse files
*.classpath
*.project
*.settings

# Intellij files
.idea
*.iml
*.eml
*.ipr
*.iws
out/
.home*/
work/
# maven stuff
.mvn/maven.config
target

# other
*~
*.swp
*.DS_Store
*.log

# Duplicated config files that are copied across during the build
src/main/resources/com/atlassian/bitbucket/jenkins/internal/scm/BitbucketSCMStep
